{% extends 'administrador/plantilla.html' %}

{% block cabecera %}
<!-- DataTables -->
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}

{% block titulo_contenido %}
Administradores
{% endblock %}

{% block direccion_contenido %}
<li class="breadcrumb-item">Usuarios</li>
<li class="breadcrumb-item active">Administradores</li>
{% endblock %}


{% block contenido %}
<div class="container-fluid">

    <div class="modal fade" id="modal-agregar-usuario">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Administrador</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/administrador/usuarios/agregar" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombres</label>
                                <input type="text" class="form-control" name="nombres"
                                    placeholder="Ingresa los Nombres" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Apellidos</label>
                                <input type="text" class="form-control" name="apellidos"
                                    placeholder="Ingresa los Apellidos" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Correo</label>
                                <input type="email" class="form-control" name="correo"
                                    placeholder="Ingresa el correo" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Carnet</label>
                                <input type="text" class="form-control" name="carnet"
                                    placeholder="Ingresa el carnet" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Grado</label>
                                <input type="text" class="form-control" name="grado"
                                    placeholder="Ingresa el grado" required>
                            </div>
                            <div class="form-group" hidden>
                                <input name="rol" value="administrador">
                                <!--label for="exampleInputPassword1">Rol</label>
                                <select class="form-control" name="rol" required>
                                    <option value="administrador" selected>Administrador</option>
                                </select-->
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Agregar Administrador</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {% if usuarios %}
        {% for usuario in usuarios %}
    
            <div class="modal fade" id="modal-editar-usuario-{{usuario.id_usuario}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Administrador</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/administrador/usuarios/editar/{{usuario.id_usuario}}" method="POST" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombres</label>
                                        <input type="text" class="form-control" name="nombres"
                                            placeholder="Ingresa los Nombres" value="{{usuario.nombres}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Apellidos</label>
                                        <input type="text" class="form-control" name="apellidos"
                                            placeholder="Ingresa los Apellidos" value="{{usuario.apellidos}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Correo</label>
                                        <input type="email" class="form-control" name="correo"
                                            placeholder="Ingresa el correo" value="{{usuario.correo}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Carnet</label>
                                        <input type="text" class="form-control" name="carnet"
                                            placeholder="Ingresa el carnet" value="{{usuario.carnet}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Grado</label>
                                        <input type="text" class="form-control" name="grado"
                                            placeholder="Ingresa el grado" value="{{usuario.grado}}" required>
                                    </div>
                                    <div class="form-group" hidden>
                                        <input name="rol" value="administrador">
                                        <!--label for="exampleInputPassword1">Rol</label>
                                        <select class="form-control" name="rol" required>
                                            <option value="administrador" {% if usuario.rol=='administrador' %}selected{% endif %}>Administrador</option>
                                            <option value="perito" {% if usuario.rol=='perito' %}selected{% endif %}>Perito</option>
                                        </select-->
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <!--button type="button" class="btn btn-primary">Save changes</button-->
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-12">

            <div class="card watermark-pattern-iitcup">
                <div class="card-header">
                    <h3 class="card-title">Administradores Registrados en el Sistema</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <button class="btn btn-success" data-toggle="modal"
                        data-target="#modal-agregar-usuario">Agregar Administrador <i class="fa fa-plus"></i></button>
                    </div>
                    <br />
                    <table id="example5" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Nombre de Usuario</th>
                                <th>Grado</th>
                                <th>Correo</th>
                                <th>Carnet</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if usuarios %}
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td>{{usuario.id_usuario}}</td>
                                        <td>{{usuario.nombres}}</td>
                                        <td>{{usuario.apellidos}}</td>
                                        <td>{{usuario.nombre_usuario}}</td>
                                        <td>{{usuario.grado}}</td>
                                        <td>{{usuario.correo}}</td>
                                        <td>{{usuario.carnet}}</td>
                                        <td>
                                            {% if usuario.activo == 1 %}
                                            Activo
                                            {% else %}
                                            Inactivo
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-editar-usuario-{{usuario.id_usuario}}">Editar Administrador <i class="fa fa-edit"></i></button>
                                            <br />
                                            <!--a href="/administrador/usuarios/eliminar/{{usuario.id_usuario}}"><button class="btn btn-danger btn-sm">Eliminar Usuario <i class="fa fa-trash"></i></button></a-->
                                            {% if datos['id_usuario']!=usuario.id_usuario %}
                                            
                                                {% if usuario.activo == 1 %}
                                                    <a href="/administrador/usuarios/eliminar/{{usuario.id_usuario}}"><button class="btn btn-danger btn-sm">Eliminar Administrador <i class="fa fa-trash"></i></button></a>
                                                {% else %}
                                                    <a href="/administrador/usuarios/habilitar/{{usuario.id_usuario}}"><button class="btn btn-success btn-sm">Habilitar Administrador <i class="fa fa-check"></i></button></a>
                                                {% endif %}

                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Nombre de Usuario</th>
                                <th>Grado</th>
                                <th>Correo</th>
                                <th>Carnet</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts_final %}
<!-- DataTables  & Plugins -->
<script src="{{url_for('static', filename='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
<script>
    $(function () {
      $("#example5").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": [/*"copy", "csv", "excel", "pdf", "print", */"colvis"]
      }).buttons().container().appendTo('#example5_wrapper .col-md-6:eq(0)');
    });
</script>
<script>
    const nav_principal = document.getElementById('nav_usuarios')
    const nav_secundario = document.getElementById('nav_usuarios_administradores')
    const nav_medio = document.querySelector('#nav_usuarios > a')

    nav_medio.classList.add('active')

    nav_principal.classList.add('menu-open')
    nav_secundario.classList.add('active')
</script>
{% endblock %}