{% extends 'administrador/plantilla.html' %}

{% block cabecera %}
{% endblock %}

{% block titulo_contenido %}
    Inicio
{% endblock %}

{% block direccion_contenido %}
    <li class="breadcrumb-item active">Inicio</li>
    <!--li class="breadcrumb-item active">FAQ</li-->
{% endblock %}


{% block contenido %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Bienvenido a KIPKA - ADMINISTRADORES</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h4>Solución avanzada para la comparación de casquillos de balas</h4>
        <p>Desarrollado por el Instituto de Investigaciones Técnico Científicas (IITCUP), KIPKA es la herramienta forense más precisa y confiable para la identificación de evidencia balística.</p>

        <center><img src="{{url_for('static', filename='img/imagen.jpeg')}}" alt="Imagen representativa de KIPKA" class="hero-image" style="width: 600px;" /></center>
        <!--img src="{{url_for('static', filename='img/imagen.jpeg')}}" alt="Imagen representativa de KIPKA" class="hero-image" style="width: 600px;" /-->


            

        <br />
        <h4>Proceso sencillo, resultados exactos</h4>
        <p>En tres simples pasos, puedes obtener una comparación detallada de los casquillos y avanzar en la resolución de tu investigación.</p>
        <ol>
            <li><strong>Paso 1: Subir las evidencias</strong>: Carga las imágenes de los casquillos de balas que deseas comparar. KIPKA acepta diversos tamaños para facilitar el proceso.</li>
            <li><strong>Paso 2: Realizar la comparación</strong>: Utiliza las herramientas de comparación avanzadas para analizar las marcas, características y detalles de los casquillos.</li>
            <li><strong>Paso 3: Generar el informe</strong>: Con los resultados de la comparación, genera un informe detallado. </li>
        </ol>

    </div>
</div>

{% endblock %}


{% block scripts_final %}
{% endblock %}
