{% extends 'perito/plantilla.html' %}

{% block cabecera %}
<!-- DataTables -->
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{url_for('static', filename='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

    <style>
        .circle-container {
          width: 300px;
          /*height: 200px;*/
          height: 300px;
          border-radius: 50%; overflow: hidden;
          display: inline-block; margin: 0 10px 10px;
          position: relative;
          background: #f0f0f0;
        }
        .circle-container img {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
          height: 100%; width: auto;
        }
        .casquillo-item { margin-bottom: 30px; }
        #composite-container {
          width: 300px;
          /*height: 200px;*/
          height: 300px;
          border-radius: 50%; overflow: hidden;
          position: relative; margin-bottom: 10px;
          background: #e0e0e0;
        }
        #spinner { display: none; }
        .input-range{
            width: 200px;
        }
        .wrap-text-no-break {
          white-space: normal;
          word-break: normal;
          overflow-wrap: normal;
        }
      </style>
{% endblock %}

{% block titulo_contenido %}
{% if caso %}
    Caso {{caso.id_caso}}
{% else %}
    Caso
{% endif %}
{% endblock %}

{% block direccion_contenido %}
<li class="breadcrumb-item active">Casos </li>
<li class="breadcrumb-item active">Ver</li>
{% endblock %}


{% block contenido %}
<div class="container-fluid">

    <div class="row">
        <div class="col-12">

            <div class="card watermark-pattern-iitcup">
                <div class="card-header">
                    <h3 class="card-title">Datos del Caso</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p><b>RUP: </b></p>
                            </div>
                            <div class="col">
                                <p>{{caso.rup}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><b>Descripción: </b></p>
                            </div>
                            <div class="col">
                                <p>{{caso.descripcion}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><b>Departamento: </b></p>
                            </div>
                            <div class="col">
                                <p>{{caso.departamento}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><b>Perito: </b></p>
                            </div>
                            <div class="col">
                                <p>{{datos.nombres}} {{datos.apellidos}}</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <a class="btn btn-primary btn-lg" href="/perito/generar/pdf/caso/{{caso.id_caso}}" target="_blank">Generar Informe PDF <i class="fa fa-file-pdf-o"></i></a>
                          </div>
                          <div class="col">
                            <a class="btn btn-secondary btn-lg" href="/perito/descargar/pdf/caso/{{caso.id_caso}}" download="" target="_blank">Guardar Informe PDF <i class="fa fa-file-pdf-o"></i></a>
                          </div>
                        </div>
                        
                    </div>
                    <!--table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>RUP</th>
                                <th>Descripción</th>
                                <th>Departamento</th>
                                <th>Perito</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if casos %}
                                {% for caso in casos %}
                                    <tr>
                                        <td>{{caso.id_caso}}</td>
                                        <td>{{caso.rup}}</td>
                                        <td>{{caso.descripcion}}</td>
                                        <td>{{caso.departamento}}</td>
                                        <td>{{caso.perito}}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-editar-caso-{{caso.id_caso}}">Editar Caso <i class="fa fa-edit"></i></button>
                                            <br />
                                            <a href="/administrador/casos/eliminar/{{caso.id_caso}}"><button class="btn btn-danger btn-sm">Eliminar Caso <i class="fa fa-trash"></i></button></a>
                                            <br />
                                            <a href="/administrador/casos/ver/{{caso.id_caso}}"><button class="btn btn-primary btn-sm">Ver Caso <i class="fa fa-eye"></i></button></a>
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>RUP</th>
                                <th>Descripción</th>
                                <th>Departamento</th>
                                <th>Perito</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table-->
                </div>
                <!-- /.card-body -->
            </div>

            <div class="card watermark-pattern-iitcup">
                <div class="card-header">
                    <h3 class="card-title">Casquillos Registrados en el Caso</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <!--div class="container"-->
                    <!--
                        {% if casquillos %}
                            {% for casquillo in casquillos %}
                                <div class="row">
                                    <div class="col-2"><center><p>{{casquillo.id_casquillo}}</p></center></div>
                                    <div class="col-5">
                                        <img src="{{url_for('static', filename=casquillo.imagen_procesada)}}" style="width: 80%;">
                                    </div>
                                    <div class="col-5">
                                        <img src="{{url_for('static', filename=casquillo.imagen_contorno)}}" style="width: 80%;">
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="range" min="0" max="360" step="0.01">
                                </div>
                                <br />
                                <br />
                            {% endfor %}
                        {% else %}
                        <p style="color: red;"><center><b style="color: red;">Sin Casquillos Registrados</b></center></p>
                        {% endif %}
                    -->

                    <div id="casquillos-list">
                        {% if casquillos %}

                            {% for casquillo in casquillos %}
                            <div class="casquillo-item" data-id="{{ casquillo.id_casquillo }}">
                                <div class="images-container">
                                <div class="circle-container">
                                    <img src="{{ url_for('static', filename=casquillo.imagen_procesada) }}"
                                        id="img1-{{ casquillo.id_casquillo }}">
                                </div>
                                <div class="circle-container">
                                    <img src="{{ url_for('static', filename=casquillo.imagen_contorno) }}"
                                        id="img2-{{ casquillo.id_casquillo }}">
                                </div>
                                </div>
                                <label>Rotación (0–360°):
                                <input type="range" min="0" max="360" value="0"
                                        class="angle-range input-range" data-id="{{ casquillo.id_casquillo }}">
                                </label>
                            </div>
                            {% endfor %}
                        {% else %}
                        <p style="color: red;"><center><b style="color: red;">Sin Casquillos Registrados</b></center></p>
                        {% endif %}
                      </div>
                    
                      <h3>Controles Globales</h3>
                      <div class="d-flex flex-row justify-content-between">
                        <div id="composite-container" class="mr-5"></div>
                        <div id="contenedor-estadisticas" class="mx-5 pr-5 mt-5 pt-3"></div>
                      </div>
                      
                      <div id="composite-controls">
                        {% if casquillos %}
                            {% for casquillo in casquillos %}
                            <label>Casquillo {{ casquillo.id_casquillo }}:
                                <input type="range" min="0" max="360" value="0"
                                    class="angle-range-final input-range" data-id="{{ casquillo.id_casquillo }}"><br />
                            </label><br />
                            {% endfor %}
                        {% endif %}
                        
                      </div>
                    
                      <button id="process-btn" class="btn btn-primary btn-lg">Procesar Ángulos <i class="fa fa-server"></i></button>
                      <div id="spinner">🔄 Procesando…</div>
                      <pre id="result">
                        <div id="result-container"></div>
                      </pre>
                        
                    <!--/div-->
                    
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts_final %}
<!-- DataTables  & Plugins -->
<script src="{{url_for('static', filename='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": [/*"copy", "csv", "excel", "pdf", "print", */"colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
</script>
<script>
    const nav_principal = document.getElementById('nav_casos')

    nav_principal.classList.add('active')

</script>
<script>
    function renderResults(data) {
        const container = document.getElementById('result-container');
        container.innerHTML = '';  // limpia contenido previo
      
        /*const {
          textos_dis_centros = [],
          distancias_centros = [],
          textos = [],
          similitudes = [],
          porcentaje_dif_list = [],
          diferencias_centros = [],
          pixeles_iguales = [],
          pixeles_totales = []
        } = data;*/

        const textos_dis_centros = data.textos_dis_centros;
        const distancias_centros = data.distancias_centros;
        const textos = data.textos;
        const similitudes = data.similitudes;
        const porcentaje_dif_list = data.porcentaje_dif_list;
        const diferencias_centros = data.diferencias_centros;
        const pixeles_iguales = data.pixeles_iguales;
        const pixeles_totales = data.pixeles_totales;
        const cantidad_comparaciones = data.cantidad_comparaciones;
        const media_comparaciones = data.media_comparaciones;

        const contenedor_estadisticas = document.getElementById('contenedor-estadisticas');
        contenedor_estadisticas.innerHTML = '';

        /* AGREGADO DE TABLAS PARA LOS DATOS */
        const tableMedia = document.createElement('table');
        tableMedia.classList.add('table');
        tableMedia.classList.add('table-bordered');
        
        const theadMedia = document.createElement('thead');
        const tbodyMedia = document.createElement('tbody');

        theadMedia.innerHTML = `<tr><th>Cantidad de Comparaciones</th><td>${cantidad_comparaciones}</td></tr>`;
        tbodyMedia.innerHTML = `<tr><th>Media de las Comparaciones</th><td>${media_comparaciones}</td></tr>`;

        tableMedia.appendChild(theadMedia);
        tableMedia.appendChild(tbodyMedia);
        /*console.log(tableMedia);
        console.log(tableMedia.toString());
        contenedor_estadisticas.innerHTML = tableMedia;*/
        contenedor_estadisticas.appendChild(tableMedia);


        /*const informacionMedia = document.createElement('div');
        informacionMedia.innerHTML = `<p><strong>Cantidad de Comparaciones: </strong>${cantidad_comparaciones}</p><p><strong>Media de las Comparaciones: </strong>${media_comparaciones}</p><p>-----------------------------------------------------</p>`;
        contenedor_estadisticas.appendChild(informacionMedia);*/
      
        // Primera sección: textos_dis_centros y distancias_centros

        const tableIdsGolpes = document.createElement('table');
        tableIdsGolpes.classList.add('table');
        tableIdsGolpes.classList.add('table-bordered');
        tableIdsGolpes.classList.add('table-striped')

        const theadIdsGolpes = document.createElement('thead');
        theadIdsGolpes.innerHTML = `<tr>
          <th class="wrap-text-no-break">Id del Casquillo</th>
          <th class="wrap-text-no-break">Distancia del Centro del Golpe al Centro del Casquillo</th>
        </tr>`;

        const tbodyIdsGolpes = document.createElement('tbody');

        textos_dis_centros.forEach((corr, index) => {
          let id_casquillo = String(corr).split(' ').at(-1);
          const columnaIdsGolpes = document.createElement('tr');
          columnaIdsGolpes.innerHTML = `<td class="wrap-text-no-break">${id_casquillo}</td><td class="wrap-text-no-break">${distancias_centros[index]}</td>`;
          tbodyIdsGolpes.appendChild(columnaIdsGolpes);
        });

        tableIdsGolpes.appendChild(theadIdsGolpes);
        tableIdsGolpes.appendChild(tbodyIdsGolpes);

        container.appendChild(tableIdsGolpes);

        const divisor = document.createElement('div');
        divisor.classList.add('border')
        divisor.classList.add('my-3')
        
        container.appendChild(divisor);


        /*textos_dis_centros.forEach((corr, index) => {
          const block = document.createElement('div');
          block.innerHTML = `<p><strong>${corr}</strong></p><p><strong>Distancia del Centro del Golpe al Centro del Casquillo:</strong> ${distancias_centros[index]}</p>`;
          container.appendChild(block);
        });*/
      
        // Segunda sección: textos y demás listas

        const contenedorTableComparaciones = document.createElement('div');
        contenedorTableComparaciones.classList.add('table-responsive')

        const tableComparaciones = document.createElement('table');
        tableComparaciones.classList.add('table');
        tableComparaciones.classList.add('table-bordered');
        tableComparaciones.classList.add('table-striped');

        const theadComparaciones = document.createElement('thead');
        theadComparaciones.innerHTML = `<tr>
                    <th class="wrap-text-no-break">Imagenes Comparadas</th>
                    <th class="wrap-text-no-break">Similitud Forma (%)</th>
                    <th class="wrap-text-no-break">Similitud Centros (%)</th>
                    <th class="wrap-text-no-break">Distancia entre Centros</th>
                    <th class="wrap-text-no-break">Pixeles Iguales</th>
                    <th class="wrap-text-no-break">Pixeles Totales</th>
                  </tr>`

        tableComparaciones.appendChild(theadComparaciones);

        const tbodyComparaciones = document.createElement('tbody');

        textos.forEach((corr, index) => {
          const columna = document.createElement('tr');
          //columna.setAttribute('style', 'white-space: normal; word-break: break-word;')
          columna.innerHTML = ` <td class="wrap-text-no-break">${corr}</td>
                                <td class="wrap-text-no-break">${similitudes[index]}</td>
                                <td class="wrap-text-no-break">${porcentaje_dif_list[index]}</td>
                                <td class="wrap-text-no-break">${diferencias_centros[index]}</td>
                                <td class="wrap-text-no-break">${pixeles_iguales[index]}</td>
                                <td class="wrap-text-no-break">${pixeles_totales[index]}</td>`
          tbodyComparaciones.appendChild(columna);
        });

        tableComparaciones.appendChild(tbodyComparaciones);

        contenedorTableComparaciones.appendChild(tableComparaciones)

        container.appendChild(contenedorTableComparaciones);

        /*textos.forEach((corr, index) => {
          const block = document.createElement('div');
          block.innerHTML = `<p>-------------------------------------------------------------------------------------------</p>
            <p><strong>Comparación:</strong> ${corr}</p><p><strong>Similitud de comparación:</strong> ${similitudes[index]}</p><p><strong>Similitud de cercanía de los Centros de los Golpes:</strong> ${porcentaje_dif_list[index]}</p><p><strong>Distancia de los Centros de los Golpes:</strong> ${diferencias_centros[index]}</p><p><strong>Píxeles Iguales:</strong> ${pixeles_iguales[index]}</p><p><strong>Píxeles Totales:</strong> ${pixeles_totales[index]}</p>`;
          container.appendChild(block);
        });*/
      }
    // 1) funciones helper
    function rotateCasquillo(id, angle) {
      document.getElementById(`img1-${id}`)
              .style.transform = `translate(-50%,-50%) rotate(${angle}deg)`;
      document.getElementById(`img2-${id}`)
              .style.transform = `translate(-50%,-50%) rotate(${angle}deg)`;
    }
  
    function updateComposite() {
      const cont = document.getElementById('composite-container');
      cont.innerHTML = '';
      // por cada casquillo, sobreponemos sus dos imágenes con opacidad
      document.querySelectorAll('.casquillo-item').forEach(item => {
        const id = item.dataset.id;
        const angle = item.querySelector('.angle-range').value;
        [/*'img1',*/'img2'].forEach(pref => {
          const src = document.getElementById(`${pref}-${id}`).src;
          const img = document.createElement('img');
          img.src = src;
          img.style.position = 'absolute';
          img.style.top = img.style.left = '50%';
          img.style.transform = `translate(-50%,-50%) rotate(${angle}deg)`;
          img.style.opacity = '0.5';
          img.style.height = '100%';
          img.style.width = 'auto';
          cont.appendChild(img);
        });
      });
    }
  
    // 2) listeners individuales ↔ globales
    document.querySelectorAll('.angle-range').forEach(inp => {
      inp.addEventListener('input', e => {
        const id = e.target.dataset.id;
        const ang = e.target.value;
        // rota sus imágenes
        rotateCasquillo(id, ang);
        // sincroniza control global
        const fin = document.querySelector(`.angle-range-final[data-id="${id}"]`);
        if (fin) fin.value = ang;
        updateComposite();
      });
    });
    document.querySelectorAll('.angle-range-final').forEach(inp => {
      inp.addEventListener('input', e => {
        const id = e.target.dataset.id;
        const ang = e.target.value;
        // actualiza control individual
        const sinp = document.querySelector(`.angle-range[data-id="${id}"]`);
        if (sinp) sinp.value = ang;
        rotateCasquillo(id, ang);
        updateComposite();
      });
    });
  
    // 3) al hacer clic en “Procesar”
    document.getElementById('process-btn').addEventListener('click', () => {
      const btn = document.getElementById('process-btn');
      const spinner = document.getElementById('spinner');
      const result = document.getElementById('result');
  
      // prepara payload
      const rotations = Array.from(document.querySelectorAll('.casquillo-item'))
        .map(item => ({
          id:   parseInt(item.dataset.id),
          angle: parseFloat(item.querySelector('.angle-range').value)
        }));
  
      // muestra spinner y deshabilita btn
      spinner.style.display = 'block';
      btn.disabled = true;

      console.log(rotations)
  
      fetch('/perito/casquillos/angulos/procesar', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ rotations })
      })
      .then(r => r.json())
      .then(data => {
        // oculta spinner, habilita btn
        spinner.style.display = 'none';
        btn.disabled = false;
        // muestra respuesta
        //result.textContent = JSON.stringify(data, null, 2);
        renderResults(data);
      })
      .catch(err => {
        spinner.style.display = 'none';
        btn.disabled = false;
        result.textContent = '¡Error de red!';
        console.error(err);
      });
    });
  
    // inicializa overlay vacío
    updateComposite();
    </script>
{% endblock %}